@-webkit-keyframes rotating
/* Safari and Chrome */

    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 15s linear infinite, opacity 2s linear infinite;
    -moz-animation: rotating 15s linear infinite, opacity 2s linear infinite;
    -ms-animation: rotating 15s linear infinite, opacity 2s linear infinite;
    -o-animation: rotating 15s linear infinite, opacity 2s linear infinite;
    animation: rotating 15s linear infinite, opacity 2s linear infinite;
}

#pictionaryContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
} 
#header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#title {
    font-size: 4em !important;
}

#instructions {
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#instructionsTitle {
    font-weight: bold;
    font-size: 2em;
}

#instructionsContent {
    font-size: 1em;
    width: 100%;
    text-align: center;
}

#pictionaryCanvas {
    display: none;
    border: 0.2em solid black;
    width: 65%;
}

#drawingZone {
    width: 100%;
    display: none;
}


.winnerWrapper {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #00C853;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 3em;
    color: white;
}

#winner {
    margin-top: 1em;
}

.continueButton {
    border: 5px solid white;
    padding: 0.5em;
    margin-top: 1em;
    text-transform: capitalize;
    text-align: center;
}


.lostWrapper {
    width: 100%;
    height: 100%;
    display: none;
    background-color: #D50000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 3em;
    color: white;
}

#lost {
    margin-top: 1em;
}

#countdown {
    display: none;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
}

#progress {
    width: 100%;
    background-color: #eee;
    height: 1em;
}

#current-progress {
    height: 1em;
    background-color: rgb(0, 109, 240);
    width: 100%;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 1em; /* To center it vertically */
    color: white; 
}

#countdown-expired {
    display: none;
    font-size: 4em;
    color: #D50000;
    font-weight: bold;
 
}

#pictionaryCanvasTop {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 40%;
    border: 1px solid black;
    margin-top: 180px;
}

#pictionaryCanvasBot {
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-bottom: 180px;
}

#pictionaryCanvasLeft {
    transform: rotate(90deg);
    border: 1px solid black;
    position: absolute;
    left: 0;
    top: 43%;
    margin-left: 180px;
}

#pictionaryCanvasRight {
    transform: rotate(-90deg);
    border: 1px solid black;
    position: absolute;
    right: 0;
    top: 43%;
    margin-right: 180px;
}


#tableCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    width: 20%;
}

#prop {
    display: none;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#proPic {
    border: 8px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#propWord {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
}


#winnerDrawer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winnerFinder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
}

.picture {
    border: 8px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2%;
}

.clickTop {
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 40%;
}

.clickLeft {
    transform: rotate(90deg);

    position: absolute;
    left: 0;
    top: 50%;
}

.clickBot {
    position: absolute;
    bottom: 0;
    left: 40%;
}

.clickRight {
    transform: rotate(-90deg);
    position: absolute;
    right: 0;
    top: 50%;
}

#lost {
    display: flex;
    flex-direction: column;
}

