#twisterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}

#loading {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pastilles {
    width: 75%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

#instructions {
    width: 25%;
    height: 100%;
    background: silver;
    box-shadow: 0 0 10px grey;
    display: flex;
    flex-direction: column;
}

#instructions .pastille {
    margin-bottom: 20%;
}

#instructions table {
    margin: auto;
}

.rowOfPastilles {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.rowOfPastilles:first-child {
    padding-top: 2%;
}

.pastille {
    width: 100px;
    height: 100px;
    margin: 0 2% 2% 0;
    border-radius: 100%;
}

.pastille.red {
    background-color: red;
}

.pastille.blue {
    background-color: blue;
}

.pastille.yellow {
    background-color: rgb(233, 233, 0);
}

.pastille.green {
    background-color: green
}

.nbreOfPastilleDone {
    font-size: 30px;
    font-weight: bold;
}

.nbreOfPastilleDone.green {
    color: green;
}

#total, #currentTeam {
    padding: 10px;
    background: grey;
    width: calc(100% + 30px);
    margin-left: -15px;
    color: white;
    font-size: 50px;
    text-align: center;
}

#total i.fa.fa-trophy {
    font-size: 60px;
}

#win {
    height: 100%;
    position: absolute;
    width: 25%;
    margin-left: -15px;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(0, 216, 0);
    font-size: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* **** */

#team {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

#team .header {
    font-size: 90px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#team .info {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 10px;
}

#teams {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

#team1,
#team2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 70px;
    height: 70%;
}

#team1 {
    border-right: 2px solid white;
}

#turnView {
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #6b6b6b;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;

    z-index: 999;
    flex-direction: column;
}

#turnView h1 {
    font-size: 90px;
    font-weight: bold;
}

#turnView .clickAnywhere {
    font-size: 35px;
    margin-top: 100px;
    color: silver;
}

#countDown {
    width: calc(100% + 30px);
    margin-left: -15px;
    background: #af2b2b;
    color: white;
    font-size: 16px;
}

#countDown > div {
    overflow: hidden;
    background: #ff3e3e;
    text-align: right;
    padding: 0 10px;
}