.avatar {
    border: 8px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.avatar .qrcodeUser>img {
    width: 100px;
    height: 100px;
}

.avatar .name {
    padding: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 17px;
    display: none;
    text-transform: uppercase;
}

.user .leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user {
    position: absolute;
    width: 170px;
    height: 170px;
}

#leftUser {
    transform: rotate(90deg);
    top: 50%;
    left: 5px;
    margin-top: -85px;
}

#rightUser {
    transform: rotate(-90deg);
    top: 50%;
    right: 5px;
    margin-top: -85px;
}

#topUser {
    transform: rotate(180deg);
    top: 5px;
    left: 50%;
    margin-left: -85px;
}

#bottomUser {
    bottom: 5px;
    left: 50%;
    margin-left: -85px;
}