
@font-face {
    font-family: Proxima;
    src: url(../assets/fonts/Proxima.otf);
}
body, html, #app
{
  font-family: Proxima;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

p
{
  display: inline-block;
}
h1
{
  text-align: center;
}

.qrcode
{
  /*Normal value*/
  width:20%;  

  /*width:30px;*/
  position: absolute;
  
}

#trigger
{
  position: absolute;
  top:0px;
  left:0px;
}

#qrcodeL
{
  left:10px;
}

#qrcodeR
{
  right:10px;
}

#qrcodeT
{
  top:10px;
}

#qrcodeB
{
  
  bottom:10px;  
  
}


.player-name
{
  position: absolute;
  display: inline-block;

}


#nameL
{
  
}

#nameR
{
  right:0px;
}

#nameT
{
  top:0px;
}

#nameB
{
  bottom:0px;
}

#boardView{
width: 100%;
}
#board
{
  display: inline-block;
}
.boardTile
{
  width:100px;
  height: 200px;  
  display: inline-block;
}

#lastTile
{
  background-color: #00C853;

}

#dice
{
  position: absolute;
}

.playerAvatar
{
  position: absolute;
}