
@font-face {
    font-family: Proxima;
    src: url(../assets/fonts/Proxima.otf);
}
body
{
  font-family: Proxima;
}

h1
{
  text-align: center;
}

.qrcode
{
  width:20%;  
  position: absolute;
  
}

#trigger
{
  position: absolute;
  top:0px;
  left:0px;
}

#qrcodeL
{
  left:10px;
}

#qrcodeR
{
  right:10px;
}

#qrcodeT
{
  top:10px;
}
#qrcodeB
{
  
  bottom:10px;  
  
}

