html, body {
    position: fixed !important;
}

#header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#instructions {
    display: flex;
    flex-direction: row;
    text-align: justify;
}

#instructionsField {
    margin-left: 1em;
    font-size: 18px;
    display: flex;
    align-items: center;
}
#wordWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}
#word {
    text-align: center;
    font-weight: bold;
    margin-left: 1em;
    color: rgb(0, 109, 240);
}

#pictionaryMobileContainer {
    height: 100%;
    flex-direction: column;
}

#startPic {
    text-align: center;
    padding: 0.5em;
}

#countdown {
    display: none;
    text-align: center;
    margin-left: 1em;
    font-weight: bold;
    font-size: 3em;
}

#pictionaryCanvas {
    border: 0.2em solid black;
}


#pictionaryMobileContainer {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#responseWrapper {
    display: none;
    justify-content: center;
    align-items: center;
    height: 65%;
}
#response {
    margin-left: 0.5em;
    width: 75%;
}
#responseField {
    display: flex;
    justify-content: center;
    width: 75%;
    align-items: center;
    flex-direction: column;
    padding: 3em;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #40C4FF; 
}

#sendResponse {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 0.8em;
    margin-top: 2em; 
}

#sendLabel {
    margin-left: 1em;
    font-size: 18px;
}

#palette {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#openPalette {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#clear {
    margin-left: 1em;
    cursor: pointer;
}
.size {
    margin-right: 1em;
}

input[type="radio"]{
    display: none;
}

input[type="radio"]:checked + label {
    background-color: black;
    color: white;
}
input[type="radio"] + label {
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0.1em;
    border-radius: 50%; 
    margin-right: 1em;
    cursor: pointer;
}